* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.sec-1 {
  height: 50%;
  display: flex;
}
.half-width {
  width: 50%;
  /* padding: 5%; */
  margin: 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.half-width img {
  width: 400px;
  margin-left: 50px;
  margin-left: 70px;
}
.half-width p {
  margin-bottom: 20px;
  margin-top: 20px;
}
.focus {
  display: inline-block;
  margin: 20px 0;
  padding-left: 5px;
  border-left: 5px solid;
  border-image: linear-gradient(red, orange);
  border-image-slice: 1;
  font-size: 50px;
}
.default-btn {
  text-decoration: none;
  padding: 10px;
  background-color: orangered;
  color: white;
  border-radius: 10px;
}
.sec-2 {
  margin-top: 50px;
}
.cards-container {
  max-width: 65%;
  margin: 0 auto;
}
.section-title {
  text-align: center;
  font-size: 40px;
}
.color {
  color: rgba(69, 10, 230, 0.993);
}
.cards {
  display: flex;
  justify-content: space-around;

  margin: 50px 0;
}
.cards img {
  width: 200px;
}
.card {
  width: 350px;
  padding: 30px;
  border-radius: 15px;
}
.card-1 {
  background-color: #4f9da61f;
}
.card-2 {
  background-color: #ff595923;
}
.card-3 {
  background-color: #fff4d6;
}
